body {
    font-size: 12px !important;
    background-color: whitesmoke !important;
}

.image-logo {
    max-height: 15%;
    max-width: 15%;
}

img {
    height: 100%;
    width: 100%;
}

.text-white {
    color: white;
}

.border-bottom {
    border-bottom: 1px solid grey;
}