.margin-bottom {
    margin-bottom: 25px;
}

.card-background {
    background-color: #bdc3c7 !important;
    border: none !important;
}

.card-header {
    background-color: #2980b9;
    text-align: center;
}

button {
    cursor: pointer;
}