.game-board {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.stacked.rows{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.right-top {
    height: 20%;
}

.margin-top {
    margin-top: 10px;
}

.nav-item {
    cursor: pointer;
}

.pull-right {
    float: right;
}

.max-height {
    height: 90%;
}